/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'passportregular';
  box-sizing: border-box;
}
.bg {
  background-color: #311D3F;
}
h1 {
  font-size: 5rem;
}
@media (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}
button {
  font-family: 'passportregular';
}
.bg {
  text-align: center;
}
.bg .container-landing h1 {
  background-color: rgba(220, 220, 220, 0.6);
  clear: both;
  border-radius: 100px;
  text-align: center;
  padding: 20px 60px;
  margin: 50px;
}
@media (max-width: 800px) {
  .bg .container-landing h1 {
    padding: 20px 40px;
  }
}
.bg .container-about h1 {
  background-color: #88304E;
  clear: both;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
  margin-bottom: 30px;
}
.landing-page-body {
  background-image: url(../images/restaurant-2.jpeg);
  width: auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.landing-page-body .flex-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}
.landing-page-body .flex-container .container {
  margin: 0;
}
.buttons-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .buttons-container {
    width: 90%;
  }
}
@media (max-width:500px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }
}
.buttons-container a {
  border: none;
  width: 130px;
  margin: 6px;
  background-color: rgba(220, 220, 220, 0.6);
  border-radius: 100px;
  padding: 12px 40px;
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
.landing-nav {
  background: rgba(220, 220, 220, 0.6);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .landing-nav {
    justify-content: center;
  }
}
.landing-nav .title {
  color: black;
  font-size: 2rem;
  padding-left: 10px;
}
@media (max-width: 800px) {
  .landing-nav .title {
    font-size: 1.5rem;
  }
}
@media (max-width:500px) {
  .landing-nav .title {
    display: none;
  }
}
.landing-nav .links {
  display: flex;
  justify-content: space-evenly;
}
.landing-nav .links a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 0 30px;
}
@media (max-width: 800px) {
  .landing-nav .links a {
    font-size: 1.5rem;
    padding: 0 15px;
  }
}
.about-container {
  width: 75%;
  margin: 0 auto;
  color: white;
}
@media (max-width: 800px) {
  .about-container {
    width: 90%;
  }
}
.about-container .container-about {
  margin: 60px 0 30px 0;
}
.about-nav {
  background: #88304E;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .about-nav {
    flex-direction: column;
  }
}
.about-nav .title {
  color: white;
  font-size: 2rem;
  padding-left: 10px;
}
@media (max-width: 800px) {
  .about-nav .title {
    padding-bottom: 20px;
  }
}
.about-nav .links {
  display: flex;
  justify-content: space-evenly;
}
.about-nav .links a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 0 30px;
}
@media (max-width: 800px) {
  .about-nav .links a {
    font-size: 1.5rem;
    padding: 0 15px;
  }
}
.person {
  background: #88304E;
  padding: 25px 0;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .person {
    flex-direction: column;
    align-items: center;
  }
}
.person .about-text {
  width: 45%;
}
@media (max-width:500px) {
  .person .about-text {
    width: 95%;
    padding: 10px;
  }
}
.person .about-text h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
}
@media (max-width: 800px) {
  .person .about-text h2 {
    font-size: 1.8rem;
  }
}
.person .about-text p {
  font-size: 1.8rem;
  text-align: justify;
}
@media (max-width: 800px) {
  .person .about-text p {
    font-size: 1.5rem;
  }
}
.person .img-container-a {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width:500px) {
  .person .img-container-a {
    justify-content: center;
  }
}
.person .img-container-a img {
  height: 250px;
}
@media (max-width: 800px) {
  .person .img-container-a img {
    height: 200px;
  }
}
@media (max-width:500px) {
  .person .img-container-a img {
    height: 80vw;
  }
}
.person .img-container-b {
  width: 45%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width:500px) {
  .person .img-container-b {
    justify-content: center;
  }
}
.person .img-container-b img {
  height: 250px;
}
@media (max-width: 800px) {
  .person .img-container-b img {
    height: 200px;
  }
}
@media (max-width:500px) {
  .person .img-container-b img {
    height: 80vw;
  }
}
.odd {
  flex-direction: column-reverse;
}
hr {
  border: 3px solid #88304E;
  border-radius: 100px;
  margin: 30px 0;
}
#end-page-nav {
  margin-top: 60px;
  justify-content: center;
}
#end-page-nav .title {
  display: none;
}
.pitch {
  background: #88304E;
  padding: 25px;
  border-radius: 20px;
}
.pitch p {
  font-size: 2.2rem;
  color: white;
  text-align: justify;
}
@media (max-width: 800px) {
  .pitch p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .pitch p {
    font-size: 1.8rem;
  }
}
