html, body{
    height: 100%;
    font-size: 62.5%;
    font-family: 'passportregular';
}

.bg {
    background-color: #311D3F;
}

h1 {
    font-size: 8rem;
}

.about-nav{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    .title{
        color: white;
        font-size: 3.2rem;
        padding-left: 10px;
    }
    .links{
        padding-right: 10px;
        display: flex;
        justify-content: space-evenly;
     a{
        text-decoration: none;
        color: white;
        font-size: 3rem;
    }
    }
   
}

button{
    font-family: 'passportregular';
}