html, body{
    height: 100%;
    font-size: 62.5%;
    font-family: 'passportregular';
    box-sizing: border-box;
}

.bg{
    background-color: #311D3F;
}

h1 {
    font-size: 5rem;
    @media @tablet{
        font-size: 4rem;
    }
}



button{
    font-family: 'passportregular';
}