html, body{
    height: 100%;
    font-size: 62.5%;
}

.bg {
    background-image: url(../images/restaurant-2.jpeg);
    background-color: grey;
    height: 100%;
    width: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-size: 8rem;
   // font-style: 'Passport';
}

a {
    text-decoration: none;
}

