.bg{
text-align: center;
.container-landing{
    h1{
        background-color: @content-bg-color;
        clear: both;
        border-radius: 100px;
        text-align: center;
        padding: 20px 60px;
        margin: 50px;
        @media @tablet{
            padding: 20px 40px;
        }
    }
}

.container-about {
    h1{
        background-color: @about-content-bg-color;
        clear: both;
        border-radius: 100px;
        display:inline-block;
        text-align: center;
        padding: 20px 60px;
        margin-bottom: 30px;
    }
}
}